# Flutter 관련 파일
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# IntelliJ 관련 파일
*.iml
*.ipr
*.iws
.idea/
.idea_modules/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries/
.idea/vcs.xml

# Mac OS 관련 파일
.DS_Store
__MACOSX

# Windows 관련 파일
Thumbs.db

# JetBrains 관련 파일
out/

# 기타
*.log
*.lock
*.pyc
*.pyo
*.swp
*.class
